@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #fafafa; /* zinc-50 */
  --accent: #3b82f6; /* blue-500 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
